@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold tracking-tight text-primary;

    font-family: theme('fontFamily.heading');
  }
}

@layer components {
  .btn {
    @apply bg-primary text-black font-semibold py-2 px-6 rounded-full shadow-gold-glow transition;
  }

  .btn:hover,
  .btn:focus-visible {
    @apply bg-primary-hover;

    animation: gold-glow 2.8s infinite alternate;
  }
}

@layer utilities {
  .gold-glow {
    box-shadow: 0 0 36px 0 #facc15cc;
  }
}
